on:
  push:
    branches: [ "master" ]
# https://github.com/sexymanalive/first-argocd-git-repo.git
env:
  #NEXUS_REGISTRY: registry-new.devnerd.store # nexus repo for storing docker image 
  IMAGE_NAME: spring-fileupload-dev10
  # TAG: "v0.1.0" # version dynamic 
  HELM_REPO: sexymanalive/first-argocd-git-repo.git
  
jobs:
  build-and-push:
    runs-on: ubuntu-latest 
    environment: DOCKER_ENV
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Use with SHA
      run: |
        echo "TAG=${GITHUB_SHA::8}" >> $GITHUB_ENV
    - name: Show the new tags value
      run: |
        echo "Tag value is: ${{ env.TAG }}"

 
    - name: Login to Docker Registry
      run: |
        echo "${{ secrets.PASSWORD }}" | docker login  -u ${{ secrets.USERNAME }} --password-stdin

    # - name: Build Docker image
    #   run: docker build -t ${{ env.NEXUS_REGISTRY }}/${{ env.IMAGE_NAME }}:${{ env.TAG }} .
 
    - name: Build the docker image and push it to repo 
      uses: docker/build-push-action@v4
      with: 
        context: .
        file: dev.Dockerfile  
        push: true 
        build-args: |
          APP_PORT=${{ env.APP_PORT }}
        tags: |
          ${{ secrets.USERNAME }}/${{ env.IMAGE_NAME }}:${{ env.TAG }}
    - name: Push Docker image
      run: |
        docker push ${{ secrets.USERNAME }}/${{ env.IMAGE_NAME }}:${{ env.TAG }}

    - name: Logout from Docker Registry 
      if: always() # this ensure the logout runs even if the previous step fails. 
      run: |
        docker logout 


  update-helm-repo: 
    needs: build-and-push
    runs-on: ubuntu-latest 
    environment: DOCKER_ENV
    steps:  
      - name: Installing yq for easily work with the values file 
        run: |
          wget https://github.com/mikefarah/yq/releases/latest/download/yq_linux_amd64 -O /usr/local/bin/yq
          chmod +x /usr/local/bin/yq

      - name: Use with SHA
        run: |
          echo "TAG=${GITHUB_SHA::8}" >> $GITHUB_ENV
      - name: Showing the tags value 
        run: | 
          echo "This is the value of tag : ${{ env.TAG }}"
      - name: Checkout Helm repository
        run: |
          git clone https://${{ secrets.GIT_TOKEN }}@github.com/${{ env.HELM_REPO }} helm-repo
        env:
          GIT_TOKEN: ${{ secrets.GIT_TOKEN }}
      - name: Update Helm chart
        env: 
          #NEXUS_REPOSITORY: ${{ env.NEXUS_REPOSITORY }}
          IMAGE_NAME: ${{ env.IMAGE_NAME }}
          TAG: ${{ env.TAG }}
        run: |
          
          cd helm-repo
          # sed -i "s|image:|image:\n  repository: ${{ secrets.USERNAME }}/${{ env.IMAGE_NAME }}\n  tag: ${{ env.TAG }}|" spring-fileupload-chart/values.yaml
          # using yq in order to edit the value of the yaml file 
          
          yq -i ".image.repository=\"${{ secrets.USERNAME }}/${{ env.IMAGE_NAME }}\"" spring-fileupload-chart/values.yaml
          yq -i ".image.tag=\"${{ env.TAG }}\"" spring-fileupload-chart/values.yaml

          git config --global user.email "dummy@example.com"
          git config --global user.name "dummy"
          git add .
          git commit -m "Update image to ${{ env.IMAGE_NAME }}:${{ env.TAG }}"
          git push https://${{ secrets.GIT_TOKEN }}@github.com/${{ env.HELM_REPO }}
      - name: Clean up
        run: |
          rm -rf helm-repo

